.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.dispositivos__texto {
    font-size: 32px;
    color: var(--branco-principal);
}

@media screen and (max-width: 768px) {
    .dispositivos__lista {
        display: block;
    }

    .dispositivos__titulo {
        font-size: 28px !important;
        font-weight: 700;
        margin: 0 1em;
    }
}