.rodape {
    text-align: center;
}

.rodape__logo {
    margin-bottom: 2em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
}

.rodape__lista .lista__link a {
    margin: 0 1em 2em 1em;
    text-decoration: none;
    list-style-type: none;
    color: var(--branco-principal);
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.rodape__texto {
    font-size: 14px;
    margin: 2em 10em;
    color: var(--cinza-secundario);
}

.rodape__texto-final {
    margin-bottom: 5em;
}

@media screen and (max-width: 768px) {
    .rodape__lista {
        display: block;
    }

    .rodape__texto {
        margin: 2em 3em;
    }

    .lista__link {
        margin: 0.5em 0;
    }

    .lista__link a:hover, .lista__link a:active {
        display: none;
    }

    .rodape__texto-final {
        margin-bottom: 5em;
    }
}