.rodape {
    text-align: center;
}

.rodape__logo {
    margin-bottom: 2em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
}

.rodape__lista .lista__link a {
    margin: 0 0.5em 2em 0.5em;
    text-decoration: none;
    list-style-type: none;
    color: var(--branco-principal);
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.rodape__texto {
    font-size: 14px;
    margin: 2em 10em;
    color: var(--cinza-secundario);
}

.rodape__texto-final {
    margin-bottom: 5em;
}